@import '../../keyframes/keyframes.styles.scss';


@mixin bg{
  position: absolute;
  opacity: 0;
  width: 100%;
}

.main{
  background-color:black;
  overflow:hidden;
  background-color: black;

  position: relative;
  height:100vh;

  @media screen and(max-width: 768px){
  // height: 15rem;
  height: 13rem;
  }

  /* iPhone X and Xs Max */
  @media only screen 
      and (min-device-width: 375px) 
      and (min-device-height: 812px) 
      and (-webkit-device-pixel-ratio: 3)
      and (orientation: portrait) { 
      // height: 13rem;
      height: 11rem;
  }

  /* iPhone XR */
  // @media only screen 
  //     and (min-device-width: 414px) 
  //     and (min-device-height: 896px) 
  //     and (-webkit-device-pixel-ratio: 2) 
  //     and (orientation: portrait) { 
  //     /* styles */
  // }


  /*Only iPhone 5 (both: landscape and portrait)*/

  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) 
  and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71)
  {
    // height: 11rem;
    height: 9rem;
  }

  &-bg{

    &-bush{
      @include bg;
      animation: fadeInandUpLeft 1s forwards;
      width: 100%;
      height: 1rem;

        @media screen and(max-width: 768px){
          width: 100%;
          height: 100%;
          }
    }

      
    &-tree1{
      @include bg;
     animation: slideIn 1.3s forwards;
     animation-delay: .3s;

     @media screen and(max-width: 768px){
      width: 100%;
      height: 100%;
      }
    }

    &-midTrees{
      @include bg;
       animation: fadeInandUp 1s forwards;
       animation-delay: .9s;

       @media screen and(max-width: 768px){
        width: 100%;
        height: 100%;
        }
      }
    
    &-sky{
      @include bg;
      animation: fadeIn 1.5s forwards;
      animation-delay: 1.9s;
     

      @media screen and(max-width: 768px){
        top: 0;
        width: 100%;
        height: 100%;
        }
     }
  

    &-joe{
      @include bg;
     animation: slideIn .5s forwards;
     animation-delay: 2.5s;
     object-fit: contain;

     @media screen and(max-width: 768px){
       width: 100%;
      height: 100%;
      }
    }
 
  }

  &-showcase{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcf6f8;
    // background-color: blue;
    padding: 3rem;

    @media screen and(max-width: 768px){
      padding: 1rem;
    }

    &-containers{
      display:flex;
      align-items:center;
      justify-content: center;
      position: relative;
      z-index: 1;
      // background-image: url('../../images/nav-bg.jpg');

      @media screen and(max-width: 768px){
        flex-direction: column;
      }

      &-flip{
        @media screen and(max-width: 768px){
          flex-direction: column-reverse;
        }
      }

    }

    &-header{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      animation: fadeIn 2s forwards;
      animation-delay: 3s;
      opacity: 0;
    }

    &-hr{
      width: 8rem;
      padding: 0 0 1rem 0;
      animation: fadeIn 2s forwards;
      animation-delay: 3.5s;
      opacity: 0;
    }
    
    &-img{
      width: 30%;
      animation: fadeIn 2s forwards;
      animation-delay: 4s;
      opacity: 0;

      @media screen and(max-width: 768px){width: 70%;}
      @media screen and(max-width: 500px){width: 60%;}

      &BG{
        background-color: rgb(230, 223, 223);
        border-radius: 5rem;
        width: 100%;
        height: 100%;
        position:absolute;
        top: 0;
        z-index: -1;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        animation: fadeIn 2s forwards;
        animation-delay: 5s;
        opacity: 0;
    
      }
    }

    &-info{
      animation: fadeIn 2s forwards;
      animation-delay: 4s;
      opacity: 0;
      padding: .5rem;
      box-shadow: 2px 2px 10px rgb(182, 179, 179);
      margin: .5rem;
      font-family: Arial, Helvetica, sans-serif;

      @media screen and(max-width: 768px){
        width: 100%;
      }

      &-name{
        font-size: 1.5rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
    }

    @media screen and(max-width: 768px){
      flex-direction:column;
    }


    &-text{
      position: relative;
      z-index: 3;
      // display:none;
    }


  }

}





// @keyframes fadeIn{
//   0%{
//     opacity: 0;
//   }
//   100%{
//     opacity: 1;
//   }
// }

// @keyframes fadeInandUpLeft{
//   0%{
//     transform:translate(-50%, 100%);
//     opacity: 0;
//   }
//   100%{

//     transform:translate(0, 0);
//     opacity:1;
//   }
// }
// @keyframes fadeInandUp{
//   0%{
//     transform:translate(0, 100%);
//     opacity: 0;
//   }
//   100%{
//     transform:translate(0, 0);
//     opacity:1;
//   }
// }

// @keyframes slideIn {
//   0%{
//     transform:translate(-90%, 0);
//     opacity: 0;
//   }
//   100%{
//     transform: translate(0, 0);
//     opacity:1;
//   }
// }


