// .navigation{
//   position:fixed;
//   top: 0;
//   width: 100%;
//   height: 3rem;
//   width: 100%;
//   background: #fff;
//   border-bottom: 1px solid rgba(185, 183, 183, 0.651);

//   &-out{
//     background:rgba(0, 0, 0, 0.651);
//   }

//   &-logo{
//     position: absolute;
//     top: 1.5rem;
//     left: 4rem;
//     transform:translateY(-50%);
//     text-transform:uppercase;
//   }

//   &-checkbox{
//     position:absolute;
//     // display:none;
//   }

//   &-hamburger{
//     position: absolute;
//     top: 1.5rem;
//     left: 1rem;
//     transform: translateY(-50%);
//     cursor:pointer;
//   }

//   &-menu{
//     display:none;
//     height: 100vh;
//     width: 0;

//     &-header{
//       background:#232f3f;;
//       height: 3rem;
//       display:flex;
//       justify-content: center;
//       align-items: center;
//       color:white;
//       text-transform: uppercase;
//     }

//     &-links{
//       list-style-type: none;
//       text-transform:uppercase;
//     }
 
//     &-link{
//       display:flex;
//       justify-content: space-between;
//       padding: .2rem 1rem;

//       text-decoration: none;
//       color:rgb(61, 60, 60);
//       font-size: .6rem;
//       font-weight:bold;
//       letter-spacing: 1px;
//       font-family: Arial, Helvetica, sans-serif;

//       &:hover{
//         background:rgb(189, 189, 192);
//       }
//     }
  
//     &-arrow{
//       color: rgb(61, 60, 60);
//     }

//     &-close{
//       position:absolute;
//       right: -1.1rem;
//       font-size: 1.5rem;
//       color:white;
//       cursor:pointer;
//     }
//   }

//   &-checkbox:checked ~ &-menu{
//     background:#fff;
//     height: 100vh;
//     width: 35%;
//     position:relative;
//     z-index: 1;
//     display:block;
 
//     @media only screen and (max-width: 800px){
//       width: 50%;
//     }
//   }

@import '../../keyframes/keyframes.styles.scss';

.nav{
  width: 100%;
  position:fixed;
  top:0;
  height: 7rem;
  z-index: 100;
  // background-image: url('../../images/nav-bg.jpg');
  background-color: rgba(32, 32, 32, 0.342);
  animation: fadeIn 1s forwards;
  animation-delay: 3s;
  opacity: 0;

  @media screen and(max-width: 768px){
   height: 5rem;
  }

  &-contain{
    // border-bottom: 1px dotted rgba(82, 74, 74, 0.555);
    display:flex;
    justify-content: space-between;


    @media screen and(max-width: 768px){
      width: 100%;
    }
  }

  &-hamburger_brand{
    display:flex;
    align-items:center;
  }
  &-i{
    font-size: 2rem;
    margin: 0 1rem;
    cursor:pointer;
    color:#fff;
  }
  &-brand{
    font-size: 1.4rem;
  }
  &-logo{
    width: 12.4rem;

    @media screen and(max-width: 768px){
      width: 7rem;
      height: 5rem;
    }
  }

  &-menu{
    display:flex;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    &-menu-hidden{
      position:fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display:none;
     }


    &-links{
      width: 365px;
      // background:green;
      background-color: #fff;
      transform: translateX(0);
      transition: .3s;
    }
    &-links-hidden{
      position:fixed;
      top: 0;
      width: 365px;
      // background:green;
      background-color: #fff;
      transform: translateX(-100%);
      transition: .3s;
      height: 100vh;
      display:none;
    }
     
    &-nav{
      height: 7rem;
      background: rgb(76, 101, 245);
      display:flex;
      justify-content: flex-end;
      align-items:center;
      border-bottom: 1px dotted rgba(82, 74, 74, 0.555);
      &--icon{
        width: 5rem;
      }
    }

    &-link{
      padding: .5rem 0;
      border-bottom: 1px solid black;

      &:hover{
        cursor:pointer;
      }
    }

    &-close{
      width: 100%;
      background:rgba(0, 0, 15, 0.589);
      text-align:left;
      opacity: 1;
      transition: .3s;

      &-hidden{
        background:rgba(109, 109, 187, 0.562);
        text-align:left;
        opacity: 0;
        transition: .3s;
        position:fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: -1000;
      }
    }
    &-x {
      font-size: 1.5rem;
      color:white;
      cursor:pointer;
      margin: .5rem;
    }
  }
}

